:root{
  --Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);

--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: hsl(220, 16%, 96%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Public Sans',sans-serif;
}
@media screen and (max-width:360px){
  body{
    z-index: 10;
    height: 100vh;

  }
  .header {
    width: 100%;
    border-radius: 10px;
    height: 350px;
    color: var(--Dark-Blue);
    z-index: 10;
    background-image: url('/images/image-mockups.png'),
                      url('/images/bg-intro-mobile.svg');
    background-position:center -70px;
    background-repeat: no-repeat no-repeat;
    background-size:cover;

  }
  .navbar ul{
      list-style: none;
      margin: 0;
  }
  
  .navbar{
    width: 100%;
    background-color: var(--Light-Grayish-Blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    transform: translateX(-100%);
    transition: 0.5s transform;
    z-index: 20;
  }
  .show-nav{
    transform: translateX(0);
  }
  .navbar .navItem{
    line-height: 2rem;
    width: 100%;
  }
  .logo{
    z-index: 10;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
    /* position: fixed;
    top: 0;
    width: 100%; */
  }
  .logo img{
    display: block;
  }
  .button-nav{
    display: none;
  }
  .principal-content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .generation{
    text-align: center;
    background-color: var(--Very-Light-Gray);
    border-radius: 10px;
  }
  .title{
    color: var(--Dark-Blue);
    font-size: 2rem;
  }
  .description{
    color: var(--Grayish-Blue);
    text-align: justify;
  }
  .button{
    border: none;
    outline: none;
    padding: 1rem;
    background:linear-gradient(var(--Lime-Green), var(--Bright-Cyan));
    border-radius: 20px;
    color: var(--White);
    font-size: 1rem;
    width: 180px;
  }
}

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }